:root{
  /*Colours*/
  --orange-primary:#eb6a27;
  --blue-primary:#00b0f0;
  --green-primary:#9ad35c;
  --purple-primary:#861c8c;
  --beige-sidebar:#f0e5cf;
  --orange-secondary:#f49b22;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}