@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Open+Sans:400,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

:root{
  /*Colours*/
  --orange-primary:#eb6a27;
  --blue-primary:#00b0f0;
  --green-primary:#9ad35c;
  --purple-primary:#861c8c;
  --beige-sidebar:#f0e5cf;
  --orange-secondary:#f49b22;
  --blue-secondary:#caeaf7;
  --green-secondary: #a7d173;
}

#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

button{
  background-color: var(--orange-primary);
  border: none;
  color: white;
  padding: 5px 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase  !important;;
  font-size: 24px !important;
  margin: 4px 2px;
  cursor: pointer;
}

h1{
  text-transform: uppercase;
  font-family: 'Holtwood One SC', sans-serif;
  font-size: 48px !important;
  letter-spacing: 4px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 43px !important;
}

h3{
  text-transform: uppercase;
  font-family: 'Holtwood One SC', sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}

h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 38px !important;
}

h5{
  font-weight: 700 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px !important;
}

h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px !important;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
}
